doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document | #{title}
        block styles
            link(rel="stylesheet", href="/css/main.css")
    body 
        block content
            main.grid.place-items-center
                .container
                    h1.text-5xl Default Content Here
        block footer
            footer.text-center.p-8
                h2 Default Footer content
                p If you want to see more details about this site, just #[a(href="/about", class="underline text-blue-700 hover:text-blue-400") visit the about page].